Temp/
Obj/
UnityGenerated/
Library/
ExportedObj/
*.svd
*.userprefs
*.csproj
*.pidb
*.suo
*.sln
*.user
*.unityproj
*.booproj
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
Thumbs.db
*.meta

Library/expandedItems

Library/ScriptAssemblies/Assembly-UnityScript-firstpass.dll

*.dll

*.mdb

*.db

*.log

*.dwlt

*.meta

Library/metadata/d3/d3b7d84ffb95cc04aaeb74f19a10f034

Library/CurrentLayout.dwlt

Assets/Standard Assets/Particles/Sources/Textures/smoke3.tif.meta
